@using EntitySchool = School.Data.Entities.Concrete.Schools
@using School.Dto
@section Styles {
	<link href="~/css/schoollist.css" rel="stylesheet" />
	<link href="~/css/addpopup.css" rel="stylesheet" />
	<link href="~/css/editpopup.css" rel="stylesheet" />
}
@{
	var breadcrumbs = new List<PartialRouteModel> {
		new("Ana Sayfa", "/Main/Index"),
		new("Okullar"),
	};
}
@model List<SchoolDTO>

<!-- Okul Ekle -->
<div id="addoverlay">
	<div id="addformPopUp">
		<h1>Okul Ekle</h1>
		<form asp-controller="Schools" asp-action="Add" method="post">
			<label>Okul Adı</label>
			<input type="text" id="addName" name="name" required />

			<label>Şehir</label>
			<select id="city" name="cityId" required>
				<option value="">Şehir Seçin</option>
			</select>

			<label>İlçe</label>
			<select id="district" name="districtId" required>
				<option value="">Önce şehir seçin</option>
			</select>

			<span>
				<div onclick="closePopup()">İptal et</div>
				<button type="submit" id="ekle">Kaydet</button>
			</span>
		</form>
	</div>
</div>

<!-- Okul Düzenle -->
<div id="editoverlay">
	<div id="editformPopUp">
		<h1>Okul Düzenle</h1>
		<form>
			<input type="hidden" id="editschoolId" />
			<label>Okul Adı</label>
			<input type="text" id="editname" required />

			<label>Şehir</label>
			<select id="editCity" name="cityId" required>
				<option value="">Şehir Seçin</option>
			</select>

			<label>İlçe</label>
			<select id="editDistrict" name="districtId" required>
				<option value="">Önce şehir seçin</option>
			</select>

			<span>
				<div onclick="closePopup()">İptal et</div>
				<button type="button" id="kaydet">Kaydet</button>
			</span>
		</form>
	</div>
</div>


<section>
	<partial name="_Breadcrumb" model="breadcrumbs" />

	@if (User.IsInRole("admin")) {
		<button type="button" id="new">Yeni Okul</button>
	}
	<table id="table" style="width: 100%">
		<thead>
			<tr>
				<th style="width:10%">Id</th>
				<th>Okul İsmi</th>
				<th>Adres</th>
				<th class="bilgi" style="width:5%">Bilgi</th>
				@if (User.IsInRole("admin")) {
					<th class="duzenle" style="width:5%">Düzenle</th>
				}
				@if (User.IsInRole("admin")) {
					<th class="sil"style="width:5%">Sil</th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (SchoolDTO school in Model) {
				<tr>
					<td>@school.Id</td>
					<td>@school.Name</td>
					<td>@(school.District.name)/@(school.District.City.name)</td>
					<td>
						<a href="/Schools/Details/@school.Id">
							<i class="fa-solid fa-circle-info"></i>
						</a>
					</td>
					@if (User.IsInRole("admin")) {
						<td>
							<i data-id="@school.Id" class="fa-solid fa-pen-to-square edit"></i>
						</td>
						<td>
							<i data-id="@school.Id" class="fa-solid fa-trash delete"></i>
						</td>
					}
				</tr>
			}
		</tbody>
	</table>
</section>

@section Scripts
{
	<script src="~/js/school.js"></script>
}