<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - SchoolProject</title>
	<link href="~/css/layout.css" rel="stylesheet" />
	<link href="~/css/error.css" rel="stylesheet" />
	<script src="~/lib/jquery-3.7.1.min.js"></script>
	<script src="~/js/layout.js"></script>
	<link href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css" rel="stylesheet" />
	<link href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css" rel="stylesheet" />
	<script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.js"></script>

	<script src="https://kit.fontawesome.com/03fb694df2.js" crossorigin="anonymous"></script>
	@await RenderSectionAsync("Styles", required: false)
</head>
<body>
	<header>
		<div class="user-info">
			<img src="~/images/user.jpg" alt="User Image" id="userImage" />
			<b>@User.Identity.Name</b>
			<div class="dropdown-menu" id="dropdownMenu">
				<a href="/Profile">Profil</a>
				<a href="/Settings">Ayarlar</a>
				<form asp-controller="Login" asp-action="Logout" method="post">
					<button type="submit">Çıkış Yap</button>
				</form>
			</div>
		</div>
	</header>
	<aside>
		<div>
			<a href="/Main/Index"><i class="fa-solid fa-house"></i> Ana Sayfa</a>
			<a href="/Schools"><i class="fa-solid fa-school"></i> Okullar</a>
			<a href="/Classes"><i class="fa-solid fa-building-columns"></i> Sınıflar</a>
			<a href="/Teachers"><i class="fa-solid fa-user-tie"></i> Öğretmenler</a>
			<a href="/Students"><i class="fa-solid fa-graduation-cap"></i> Öğrenciler</a>
		</div>
	</aside>
	<main>
		@if (TempData["Failed"] != null) {
			<partial name="_Partial_Notification" model="@(false, TempData["Failed"].ToString())" />
		}
		else if (TempData["Success"] != null) {
			<partial name="_Partial_Notification" model="@(true, TempData["Success"].ToString())" />
		}
		<div id="JsNotification" class="hide">

		</div>
		@RenderBody()
	</main>
	<footer></footer>
	@await RenderSectionAsync("Scripts", false)
</body>
</html>
