@using School.Data.Entities;
@using School.Dto

@section Styles {
	<link href="~/css/studentlist.css" rel="stylesheet" />
	<link href="~/css/addpopup.css" rel="stylesheet" />
	<link href="~/css/editpopup.css" rel="stylesheet" />
}
@{
	var breadcrumbs = new List<PartialRouteModel> {
		new("Ana Sayfa", "/Main/Index"),
		new("Öğrenciler"),
	};
}
@model List<StudentDTO>

<!-- Yeni -->

<div id="addoverlay">
	<div id="addformPopUp">
		<h1>Öğrenci Ekle</h1>
		<form asp-controller="Students" asp-action="Add" method="post">
			<label>Öğrenci Adı</label>
			<input type="text" id="addName" name="name" required />
			<label>Sınıf ID</label>
			<input type="text" id="addClassId" name="classId" required />
			<span>
				<div onclick="closePopup()">İptal et</div>
				<button type="submit" id="ekle">Kaydet</button>
			</span>
		</form>
	</div>
</div>

<!-- Yeni -->
<!-- düzenle -->
<div id="editoverlay">
	<div id="editformPopUp">
		<h1>Öğrenci Düzenle</h1>
		<form>
			<input type="hidden" id="editstudentId" />
			<label>Öğrenci Adı</label>
			<input type="text" id="editname" required />
			<label>Öğrenci Sınıfı</label>
			<input type="text" id="editclassId" required  />
			<span>
				<div onclick="closePopup()">İptal et</div>
				<button type="button" id="kaydet">Kaydet</button>
			</span>
		</form>
	</div>
</div>
<!-- düzenle -->

<section>

	<partial name="_Breadcrumb" model="breadcrumbs" />

	@if (User.IsInRole("admin")) {
		<button type="button" id="new">Yeni Öğrenci</button>
	}
	<table id="table" class="display nowrap" style="width: 100%">
		<thead>
			<tr>
				<th>Öğrenci İsmi</th>
				<th>Sınıfı</th>
				<th>Okulu</th>
				<th class="bilgi" style="width:5%">Bilgi</th>
				@if (User.IsInRole("admin")) {
					<th class="duzenle" style="width:5%">Düzenle</th>
				}
				@if (User.IsInRole("admin")) {
					<th class="sil" style="width:5%">Sil</th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (StudentDTO student in Model) {
				<tr>
					<td>@student.Name</td>
					<td>@(student.Class.Degree)-@(student.Class.Name)</td>
					<td>@student.Class.School.Name</td>
					<td>
						<a href="/Students/Details/@student.Id">
							<i class="fa-solid fa-circle-info"></i>
						</a>
					</td>
					@if (User.IsInRole("admin")) {
						<td>
							<i data-id="@student.Id" class="fa-solid fa-pen-to-square edit"></i>
						</td>
						<td>
							<i data-id="@student.Id" class="fa-solid fa-trash delete"></i>
						</td>
					}
				</tr>
			}
		<tbody>
	</table>
</section>

@section Scripts
{
	<script src="~/js/student.js"></script>
}